In [38]:
import geopandas as gpd
import pandas as pd

In [39]:
geo_data = gpd.read_file('tl_2022_08_bg (1)/tl_2022_08_bg.shp')
geo_data.columns

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'GEOID', 'NAMELSAD',
       'MTFCC', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON',
       'geometry'],
      dtype='object')

In [40]:
df = pd.read_csv('ACSDT5Y2021.B01003-2023-06-04T023205.csv')
df

                                      Label (Grouping)  Total
0    Block Group 1, Census Tract 49.51, Arapahoe Co...    NaN
1                                             Estimate  1,514
2    Block Group 1, Census Tract 49.52, Arapahoe Co...    NaN
3                                             Estimate  1,042
4    Block Group 2, Census Tract 49.52, Arapahoe Co...    NaN
..                                                 ...    ...
873                                           Estimate  1,361
874  Block Group 2, Census Tract 873.02, Arapahoe C...    NaN
875                                           Estimate  1,032
876  Block Group 1, Census Tract 9800, Arapahoe Cou...    NaN
877                                           Estimate     26

[878 rows x 2 columns]

In [41]:
df['Total'] = df['Total'].shift(-1)
df

                                      Label (Grouping)  Total
0    Block Group 1, Census Tract 49.51, Arapahoe Co...  1,514
1                                             Estimate    NaN
2    Block Group 1, Census Tract 49.52, Arapahoe Co...  1,042
3                                             Estimate    NaN
4    Block Group 2, Census Tract 49.52, Arapahoe Co...  2,049
..                                                 ...    ...
873                                           Estimate    NaN
874  Block Group 2, Census Tract 873.02, Arapahoe C...  1,032
875                                           Estimate    NaN
876  Block Group 1, Census Tract 9800, Arapahoe Cou...     26
877                                           Estimate   None

[878 rows x 2 columns]

In [42]:
df.columns

Index(['Label (Grouping)', 'Total'], dtype='object')

In [43]:
df = df[df['Label (Grouping)'].str.contains('Estimate')==False]
df

                                      Label (Grouping)  Total
0    Block Group 1, Census Tract 49.51, Arapahoe Co...  1,514
2    Block Group 1, Census Tract 49.52, Arapahoe Co...  1,042
4    Block Group 2, Census Tract 49.52, Arapahoe Co...  2,049
6    Block Group 1, Census Tract 55.51, Arapahoe Co...  1,132
8    Block Group 2, Census Tract 55.51, Arapahoe Co...    102
..                                                 ...    ...
868  Block Group 3, Census Tract 873.01, Arapahoe C...    662
870  Block Group 4, Census Tract 873.01, Arapahoe C...  1,148
872  Block Group 1, Census Tract 873.02, Arapahoe C...  1,361
874  Block Group 2, Census Tract 873.02, Arapahoe C...  1,032
876  Block Group 1, Census Tract 9800, Arapahoe Cou...     26

[439 rows x 2 columns]

In [44]:
import re

df['Tract'] = df['Label (Grouping)'].str.extract(r'Tract (.*?),', expand=False )
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_42053/2316918483.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Label (Grouping)'].str.extract(r'Tract (.*?),', expand=False )

                                      Label (Grouping)  Total   Tract
0    Block Group 1, Census Tract 49.51, Arapahoe Co...  1,514   49.51
2    Block Group 1, Census Tract 49.52, Arapahoe Co...  1,042   49.52
4    Block Group 2, Census Tract 49.52, Arapahoe Co...  2,049   49.52
6    Block Group 1, Census Tract 55.51, Arapahoe Co...  1,132   55.51
8    Block Group 2, Census Tract 55.51, Arapahoe Co...    102   55.51
..                                                 ...    ...     ...
868  Block Group 3, Census Tract 873.01, Arapahoe C...    662  873.01
870  Block Group 4, Census Tract 873.01, Arapahoe C...  1,148  873.01
872  Block Group 1, Census Tract 873.02, Arapahoe C...  1,361  873.02
874  Block Group 2, Census Tract 873.02, Arapahoe C...  1,032  873.02
876  Block Group 1, Census Tract 9800, Arapahoe Cou...     26    9800

[439 rows x 3 columns]

In [45]:
df['Tract'] = df['Tract'].str.replace('.', '')
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_42053/722624821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Tract'].str.replace('.', '')

                                      Label (Grouping)  Total  Tract
0    Block Group 1, Census Tract 49.51, Arapahoe Co...  1,514   4951
2    Block Group 1, Census Tract 49.52, Arapahoe Co...  1,042   4952
4    Block Group 2, Census Tract 49.52, Arapahoe Co...  2,049   4952
6    Block Group 1, Census Tract 55.51, Arapahoe Co...  1,132   5551
8    Block Group 2, Census Tract 55.51, Arapahoe Co...    102   5551
..                                                 ...    ...    ...
868  Block Group 3, Census Tract 873.01, Arapahoe C...    662  87301
870  Block Group 4, Census Tract 873.01, Arapahoe C...  1,148  87301
872  Block Group 1, Census Tract 873.02, Arapahoe C...  1,361  87302
874  Block Group 2, Census Tract 873.02, Arapahoe C...  1,032  87302
876  Block Group 1, Census Tract 9800, Arapahoe Cou...     26   9800

[439 rows x 3 columns]

In [46]:
df['Block Group'] = df['Label (Grouping)'].str.extract(r'Group (.*?),', expand=False )
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_42053/254810264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Block Group'] = df['Label (Grouping)'].str.extract(r'Group (.*?),', expand=False )

,Label (Grouping),Total,Tract,Block Group
0,"Block Group 1, Census Tract 49.51, Arapahoe Co...","1,514",4951,1
2,"Block Group 1, Census Tract 49.52, Arapahoe Co...","1,042",4952,1
4,"Block Group 2, Census Tract 49.52, Arapahoe Co...","2,049",4952,2
6,"Block Group 1, Census Tract 55.51, Arapahoe Co...","1,132",5551,1
8,"Block Group 2, Census Tract 55.51, Arapahoe Co...",102,5551,2
...,...,...,...,...
868,"Block Group 3, Census Tract 873.01, Arapahoe C...",662,87301,3
870,"Block Group 4, Census Tract 873.01, Arapahoe C...","1,148",87301,4
872,"Block Group 1, Census Tract 873.02, Arapahoe C...","1,361",87302,1
874,"Block Group 2, Census Tract 873.02, Arapahoe C...","1,032",87302,2
876,"Block Group 1, Census Tract 9800, Arapahoe Cou...",26,9800,1

In [50]:
df['Tract'] = df['Tract'].apply(lambda x: '{0:0>6}'.format(x)) 
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_42053/4145087800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Tract'].apply(lambda x: '{0:0>6}'.format(x))

,Label (Grouping),Total,Tract,Block Group,GEOID
0,"Block Group 1, Census Tract 49.51, Arapahoe Co...","1,514",004951,1,0800504951
2,"Block Group 1, Census Tract 49.52, Arapahoe Co...","1,042",004952,1,0800504952
4,"Block Group 2, Census Tract 49.52, Arapahoe Co...","2,049",004952,2,0800504952
6,"Block Group 1, Census Tract 55.51, Arapahoe Co...","1,132",005551,1,0800505551
8,"Block Group 2, Census Tract 55.51, Arapahoe Co...",102,005551,2,0800505551
...,...,...,...,...,...
868,"Block Group 3, Census Tract 873.01, Arapahoe C...",662,087301,3,0800587301
870,"Block Group 4, Census Tract 873.01, Arapahoe C...","1,148",087301,4,0800587301
872,"Block Group 1, Census Tract 873.02, Arapahoe C...","1,361",087302,1,0800587302
874,"Block Group 2, Census Tract 873.02, Arapahoe C...","1,032",087302,2,0800587302
876,"Block Group 1, Census Tract 9800, Arapahoe Cou...",26,009800,1,0800509800

In [54]:
df['GEOID'] = '08005' + df['Tract'] + df['Block Group']
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_42053/1990628710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GEOID'] = '08005' + df['Tract'] + df['Block Group']

,Label (Grouping),Total,Tract,Block Group,GEOID
0,"Block Group 1, Census Tract 49.51, Arapahoe Co...","1,514",004951,1,080050049511
2,"Block Group 1, Census Tract 49.52, Arapahoe Co...","1,042",004952,1,080050049521
4,"Block Group 2, Census Tract 49.52, Arapahoe Co...","2,049",004952,2,080050049522
6,"Block Group 1, Census Tract 55.51, Arapahoe Co...","1,132",005551,1,080050055511
8,"Block Group 2, Census Tract 55.51, Arapahoe Co...",102,005551,2,080050055512
...,...,...,...,...,...
868,"Block Group 3, Census Tract 873.01, Arapahoe C...",662,087301,3,080050873013
870,"Block Group 4, Census Tract 873.01, Arapahoe C...","1,148",087301,4,080050873014
872,"Block Group 1, Census Tract 873.02, Arapahoe C...","1,361",087302,1,080050873021
874,"Block Group 2, Census Tract 873.02, Arapahoe C...","1,032",087302,2,080050873022
876,"Block Group 1, Census Tract 9800, Arapahoe Cou...",26,009800,1,080050098001

In [55]:
df.to_csv('BlockGroupPop')