In [2]:
import geopandas as gpd
import pandas as pd

In [3]:
geo_data = gpd.read_file('tl_2022_08_bg (1)/tl_2022_08_bg.shp')
geo_data.columns

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'GEOID', 'NAMELSAD',
       'MTFCC', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON',
       'geometry'],
      dtype='object')

In [4]:
df = pd.read_csv('2020Census_BGPop.csv')
df

                                      Label (Grouping)  Total
0    Block Group 1; Census Tract 49.51; Arapahoe Co...    NaN
1        Block Group 1; Census Tract 49.51; Arapaho...  1,599
2    Block Group 1; Census Tract 49.52; Arapahoe Co...    NaN
3        Block Group 1; Census Tract 49.52; Arapaho...  1,173
4    Block Group 2; Census Tract 49.52; Arapahoe Co...    NaN
..                                                 ...    ...
873      Block Group 1; Census Tract 873.02; Arapah...  1,828
874  Block Group 2; Census Tract 873.02; Arapahoe C...    NaN
875      Block Group 2; Census Tract 873.02; Arapah...    826
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    NaN
877      Block Group 1; Census Tract 9800; Arapahoe...    130

[878 rows x 2 columns]

In [5]:
df['Total'] = df['Total'].shift(-1)
df

                                      Label (Grouping)  Total
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599
1        Block Group 1; Census Tract 49.51; Arapaho...    NaN
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173
3        Block Group 1; Census Tract 49.52; Arapaho...    NaN
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841
..                                                 ...    ...
873      Block Group 1; Census Tract 873.02; Arapah...    NaN
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826
875      Block Group 2; Census Tract 873.02; Arapah...    NaN
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130
877      Block Group 1; Census Tract 9800; Arapahoe...   None

[878 rows x 2 columns]

In [6]:
df.columns

Index(['Label (Grouping)', 'Total'], dtype='object')

In [7]:
df = df.dropna()
df

                                      Label (Grouping)  Total
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841
6    Block Group 1; Census Tract 55.51; Arapahoe Co...  1,283
8    Block Group 2; Census Tract 55.51; Arapahoe Co...    240
..                                                 ...    ...
868  Block Group 3; Census Tract 873.01; Arapahoe C...  1,270
870  Block Group 4; Census Tract 873.01; Arapahoe C...  1,178
872  Block Group 1; Census Tract 873.02; Arapahoe C...  1,828
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130

[439 rows x 2 columns]

In [8]:
import re

df['Tract'] = df['Label (Grouping)'].str.extract(r'Tract (.*?);', expand=False )
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/1436099830.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Label (Grouping)'].str.extract(r'Tract (.*?);', expand=False )

                                      Label (Grouping)  Total   Tract
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599   49.51
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173   49.52
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841   49.52
6    Block Group 1; Census Tract 55.51; Arapahoe Co...  1,283   55.51
8    Block Group 2; Census Tract 55.51; Arapahoe Co...    240   55.51
..                                                 ...    ...     ...
868  Block Group 3; Census Tract 873.01; Arapahoe C...  1,270  873.01
870  Block Group 4; Census Tract 873.01; Arapahoe C...  1,178  873.01
872  Block Group 1; Census Tract 873.02; Arapahoe C...  1,828  873.02
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826  873.02
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130    9800

[439 rows x 3 columns]

In [9]:
df['Tract'] = df['Tract'].astype(float)
# df['Tract'] = df['Tract']*100
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/1390583706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Tract'].astype(float)

                                      Label (Grouping)  Total    Tract
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599    49.51
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173    49.52
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841    49.52
6    Block Group 1; Census Tract 55.51; Arapahoe Co...  1,283    55.51
8    Block Group 2; Census Tract 55.51; Arapahoe Co...    240    55.51
..                                                 ...    ...      ...
868  Block Group 3; Census Tract 873.01; Arapahoe C...  1,270   873.01
870  Block Group 4; Census Tract 873.01; Arapahoe C...  1,178   873.01
872  Block Group 1; Census Tract 873.02; Arapahoe C...  1,828   873.02
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826   873.02
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130  9800.00

[439 rows x 3 columns]

In [10]:
df['Tract'] = 100 * df['Tract']
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/2524506949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = 100 * df['Tract']

                                      Label (Grouping)  Total     Tract
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599    4951.0
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173    4952.0
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841    4952.0
6    Block Group 1; Census Tract 55.51; Arapahoe Co...  1,283    5551.0
8    Block Group 2; Census Tract 55.51; Arapahoe Co...    240    5551.0
..                                                 ...    ...       ...
868  Block Group 3; Census Tract 873.01; Arapahoe C...  1,270   87301.0
870  Block Group 4; Census Tract 873.01; Arapahoe C...  1,178   87301.0
872  Block Group 1; Census Tract 873.02; Arapahoe C...  1,828   87302.0
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826   87302.0
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130  980000.0

[439 rows x 3 columns]

In [11]:
df['Tract'] = df['Tract'].round(0)
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/1846324918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Tract'].round(0)

                                      Label (Grouping)  Total     Tract
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599    4951.0
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173    4952.0
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841    4952.0
6    Block Group 1; Census Tract 55.51; Arapahoe Co...  1,283    5551.0
8    Block Group 2; Census Tract 55.51; Arapahoe Co...    240    5551.0
..                                                 ...    ...       ...
868  Block Group 3; Census Tract 873.01; Arapahoe C...  1,270   87301.0
870  Block Group 4; Census Tract 873.01; Arapahoe C...  1,178   87301.0
872  Block Group 1; Census Tract 873.02; Arapahoe C...  1,828   87302.0
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826   87302.0
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130  980000.0

[439 rows x 3 columns]

In [12]:
df['Tract'] = df['Tract'].astype(float).astype(int).astype(str)
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/3996529499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Tract'].astype(float).astype(int).astype(str)

                                      Label (Grouping)  Total   Tract
0    Block Group 1; Census Tract 49.51; Arapahoe Co...  1,599    4951
2    Block Group 1; Census Tract 49.52; Arapahoe Co...  1,173    4952
4    Block Group 2; Census Tract 49.52; Arapahoe Co...  1,841    4952
6    Block Group 1; Census Tract 55.51; Arapahoe Co...  1,283    5551
8    Block Group 2; Census Tract 55.51; Arapahoe Co...    240    5551
..                                                 ...    ...     ...
868  Block Group 3; Census Tract 873.01; Arapahoe C...  1,270   87301
870  Block Group 4; Census Tract 873.01; Arapahoe C...  1,178   87301
872  Block Group 1; Census Tract 873.02; Arapahoe C...  1,828   87302
874  Block Group 2; Census Tract 873.02; Arapahoe C...    826   87302
876  Block Group 1; Census Tract 9800; Arapahoe Cou...    130  980000

[439 rows x 3 columns]

In [14]:
df['Block Group'] = df['Label (Grouping)'].str.extract(r'Group (.*?);', expand=False )
# pd.set_option('display.max_rows', None)
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/926955731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Block Group'] = df['Label (Grouping)'].str.extract(r'Group (.*?);', expand=False )

,Label (Grouping),Total,Tract,Block Group
0,Block Group 1; Census Tract 49.51; Arapahoe Co...,"1,599",4951,1
2,Block Group 1; Census Tract 49.52; Arapahoe Co...,"1,173",4952,1
4,Block Group 2; Census Tract 49.52; Arapahoe Co...,"1,841",4952,2
6,Block Group 1; Census Tract 55.51; Arapahoe Co...,"1,283",5551,1
8,Block Group 2; Census Tract 55.51; Arapahoe Co...,240,5551,2
...,...,...,...,...
868,Block Group 3; Census Tract 873.01; Arapahoe C...,"1,270",87301,3
870,Block Group 4; Census Tract 873.01; Arapahoe C...,"1,178",87301,4
872,Block Group 1; Census Tract 873.02; Arapahoe C...,"1,828",87302,1
874,Block Group 2; Census Tract 873.02; Arapahoe C...,826,87302,2
876,Block Group 1; Census Tract 9800; Arapahoe Cou...,130,980000,1

In [15]:
df['Tract'] = df['Tract'].str.rjust(6, '0')
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/2824782795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tract'] = df['Tract'].str.rjust(6, '0')

,Label (Grouping),Total,Tract,Block Group
0,Block Group 1; Census Tract 49.51; Arapahoe Co...,"1,599",004951,1
2,Block Group 1; Census Tract 49.52; Arapahoe Co...,"1,173",004952,1
4,Block Group 2; Census Tract 49.52; Arapahoe Co...,"1,841",004952,2
6,Block Group 1; Census Tract 55.51; Arapahoe Co...,"1,283",005551,1
8,Block Group 2; Census Tract 55.51; Arapahoe Co...,240,005551,2
...,...,...,...,...
868,Block Group 3; Census Tract 873.01; Arapahoe C...,"1,270",087301,3
870,Block Group 4; Census Tract 873.01; Arapahoe C...,"1,178",087301,4
872,Block Group 1; Census Tract 873.02; Arapahoe C...,"1,828",087302,1
874,Block Group 2; Census Tract 873.02; Arapahoe C...,826,087302,2
876,Block Group 1; Census Tract 9800; Arapahoe Cou...,130,980000,1

In [227]:
# df['Tract'] = df['Tract'].apply(lambda x: '{0:0>6}'.format(x)) 
# df

In [228]:
# print(list(df['Tract']))

In [16]:
df['GEOID'] = '08005' + df['Tract'] + df['Block Group']
df

/var/folders/h9/k8t99pf555j85wc8nx50mcr80000gn/T/ipykernel_52152/1990628710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GEOID'] = '08005' + df['Tract'] + df['Block Group']

,Label (Grouping),Total,Tract,Block Group,GEOID
0,Block Group 1; Census Tract 49.51; Arapahoe Co...,"1,599",004951,1,080050049511
2,Block Group 1; Census Tract 49.52; Arapahoe Co...,"1,173",004952,1,080050049521
4,Block Group 2; Census Tract 49.52; Arapahoe Co...,"1,841",004952,2,080050049522
6,Block Group 1; Census Tract 55.51; Arapahoe Co...,"1,283",005551,1,080050055511
8,Block Group 2; Census Tract 55.51; Arapahoe Co...,240,005551,2,080050055512
...,...,...,...,...,...
868,Block Group 3; Census Tract 873.01; Arapahoe C...,"1,270",087301,3,080050873013
870,Block Group 4; Census Tract 873.01; Arapahoe C...,"1,178",087301,4,080050873014
872,Block Group 1; Census Tract 873.02; Arapahoe C...,"1,828",087302,1,080050873021
874,Block Group 2; Census Tract 873.02; Arapahoe C...,826,087302,2,080050873022
876,Block Group 1; Census Tract 9800; Arapahoe Cou...,130,980000,1,080059800001

In [17]:
df.to_csv('BlockGroupPop.csv')